body {
	background-color: #232323;
	margin: 0;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.tile {
	width: 22.5%;
	background: #232323;
	padding-bottom: 22.5%;
	float: left;
	margin: 1.25%;
	border-radius: 20%;
	transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1, h2 {
	color: white;
	text-align: center;
	background-color: slateblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
}

#navbar {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	background-color: slateblue;
	color: white;
}

button {
	border: none;
	background: none;
	height: 100%;
	font-weight: 500;
	color: slateblue;
	font-size: inherit;
	transition: all 0.2s;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	outline: none;
	font-family: Barlow Semi Condensed;
}

button:hover {
	color: white;
	background-color: slateblue;
}

#message {
	display: inline-block;
	width: 20%;
}